<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- 权限过滤器 -->
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.hz.auth.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 权限servlet -->
	<servlet>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>com.hz.auth.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/Auth/Servlet</url-pattern>
	</servlet-mapping>
	<!-- 字典servlet -->
	<servlet>
		<servlet-name>DictServlet</servlet-name>
		<servlet-class>com.hz.dict.DictServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DictServlet</servlet-name>
		<url-pattern>/Dict/Servlet</url-pattern>
	</servlet-mapping>
	<!-- 工具类servlet -->
	<servlet>
		<servlet-name>UtilServlet</servlet-name>
		<servlet-class>com.hz.util.UtilServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UtilServlet</servlet-name>
		<url-pattern>/Util/Servlet</url-pattern>
	</servlet-mapping>
	<!-- 系统servlet -->
	<servlet>
		<servlet-name>SystemServlet</servlet-name>
		<servlet-class>com.wuyg.system.SystemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServlet</servlet-name>
		<url-pattern>/System/Servlet</url-pattern>
	</servlet-mapping>


	<!-- ==以下为具体应用的servlet== -->
	<servlet>
		<servlet-name>ExcelParserServlet</servlet-name>
		<servlet-class>
			com.excelparser.ExcelParserServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExcelParserServlet</servlet-name>
		<url-pattern>/ExcelParser/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OrderListServlet</servlet-name>
		<servlet-class>com.ruihua.OrderListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderListServlet</servlet-name>
		<url-pattern>/OrderList/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OrderListDetailServlet</servlet-name>
		<servlet-class>com.ruihua.OrderListDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderListDetailServlet</servlet-name>
		<url-pattern>/OrderListDetail/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TaobaoProductMapServlet</servlet-name>
		<servlet-class>com.ruihua.TaobaoProductMapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaobaoProductMapServlet</servlet-name>
		<url-pattern>/TaobaoProductMap/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SoSodetailsServlet</servlet-name>
		<servlet-class>com.u8.SoSodetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoSodetailsServlet</servlet-name>
		<url-pattern>/SoSodetails/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustomerServlet</servlet-name>
		<servlet-class>com.u8.CustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/Customer/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InventoryServlet</servlet-name>
		<servlet-class>com.u8.InventoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InventoryServlet</servlet-name>
		<url-pattern>/Inventory/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SoSomainServlet</servlet-name>
		<servlet-class>com.u8.SoSomainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoSomainServlet</servlet-name>
		<url-pattern>/SoSomain/Servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DispatchlistServlet</servlet-name>
		<servlet-class>com.u8.DispatchlistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatchlistServlet</servlet-name>
		<url-pattern>/Dispatchlist/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DispatchlistsServlet</servlet-name>
		<servlet-class>com.u8.DispatchlistsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatchlistsServlet</servlet-name>
		<url-pattern>/Dispatchlists/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DispatchPriceChangeLogServlet</servlet-name>
		<servlet-class>com.dispatch.DispatchPriceChangeLogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatchPriceChangeLogServlet</servlet-name>
		<url-pattern>/DispatchPriceChangeLog/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DictionaryServlet</servlet-name>
		<servlet-class>com.wuyg.dictionary.DictionaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DictionaryServlet</servlet-name>
		<url-pattern>/Dictionary/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthDepartmentServlet</servlet-name>
		<servlet-class>com.wuyg.auth.AuthDepartmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthDepartmentServlet</servlet-name>
		<url-pattern>/AuthDepartment/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthRoleServlet</servlet-name>
		<servlet-class>com.wuyg.auth.AuthRoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthRoleServlet</servlet-name>
		<url-pattern>/AuthRole/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthUserServlet</servlet-name>
		<servlet-class>com.wuyg.auth.AuthUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthUserServlet</servlet-name>
		<url-pattern>/AuthUser/Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VDispatchlistsServlet</servlet-name>
		<servlet-class>com.u8.VDispatchlistsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VDispatchlistsServlet</servlet-name>
		<url-pattern>/VDispatchlists/Servlet</url-pattern>
	</servlet-mapping>
	




	<!-- ==session超时时间，单位秒== -->
	<session-config>
		<session-timeout>3600</session-timeout>
	</session-config>
	<!-- ==该应用的首页面== -->
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
